.content {
    display: flex;
    flex: 1;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 10vw;
    padding: 20px;

}
.logo_container {
    display: flex;
    align-items: center; /* Wyrównanie elementów na osi krzyżowej */
}

.logo {
    margin: 20px;
    border-radius: 30px;
    background: url(../assets/logo.png) lightgray 50% / cover no-repeat;
}

.Options {
    display: flex;
    width: 50vw;
    justify-content: space-around;
}

.textLogo, .textHome, .textCreate  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.textAccount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #858597;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p, .categories_text {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
}


.avatarImage{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    padding-right: 3vw;
}

a {
    text-decoration: none;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

.avatar_preview {
    margin-top: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.input_field {
    margin-top: 10px;
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #3E3E55;
    border-radius: 12px;
    background-size: cover;
    padding-left: 5%;
    max-width: 95%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    color: #FFF; /* Kolor tekstu */
}

button {
    margin-top: 10px;
    padding: 0;
    border: none;
    background: url('../../public/assets/sign_up.svg') no-repeat center center;
    background-size: cover;
    width: 200px;
    height: 60px;
    cursor: pointer;


    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
}


@media only screen and (max-width: 500px) {

    .avatarImage{
        display: none;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    nav {
        display: block;
        height: 15vh;
    }

    .Options {
        width: auto;
    }

    .textHome, .textAccount, .textCreate {
        font-size: 15px;
    }
}