
.content {
    display: flex;
    flex: 1;

}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 10vw;
    padding: 20px;

}
.logo_container {
    display: flex;
    align-items: center; /* Wyrównanie elementów na osi krzyżowej */
}

.logo {
    margin: 20px;
    border-radius: 30px;
    background: url(../assets/logo.png) lightgray 50% / cover no-repeat;
}

.Options {
    display: flex;
    width: 50vw;
    justify-content: space-around;
}

.textLogo, .textHome, .textAccount  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.textCreate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #858597;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.find_template_text, .categories_text {
    color: #FFF;
    font-family: Poppins, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
}

.categories_text {
    display: flex;
    justify-content: center;
}

.search_field input {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #3E3E55;
    border-radius: 12px;
    background-size: cover;
    padding-left: 5%;
    max-width: 95%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    color: #FFF; /* Kolor tekstu */
}

.result_box {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    overflow: hidden;
    width: 30vw;
    height: 80vh;

}

.image_holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.category_image {

    width: 100px;
    height: 100px;
    border-radius: 12px;
}

.result_tiles_container {
    overflow-x: auto;

    width: 40vw;
    /*height: 450px;*/


}

.result_tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 400px;
    height: 75px;
    background-color: #2F2F42;
    border-radius: 12px;
    overflow: hidden;
}

.categories_box {
    margin-left: 5vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 80vh;
}

.category_tiles_container {
    /*white-space: nowrap;*/
    overflow-y: auto;
    flex: 1;
    height: 300px;

}


.category_name {
    display: flex;
    justify-content: center;
    margin: 10px 10px 5px 10px;
    background-color: #0272B9;
    border-radius: 12px;

    color: #FFF;
    font-family: Poppins, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.category_tile {
    display: inline-block;
    align-items: center;
    margin-right: 10px;
    width: 200px;
    height: 150px;
    background-color: #CADAF8;
    border-radius: 12px;
    background-size: cover;
    max-width: 95%;
    overflow: hidden;
}

.result_item_name {
    color: #FFF;
    font-family: Poppins, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.result_category {
    color: #3D5CFF;
    font-family: Poppins, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.avatarImage{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    padding: 3vw;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 500px) {

    .avatarImage{
        display: none;
    }
    .category_tiles_container {
        white-space: nowrap;
        width: 80vw;
    }
    .content {
        display: flex;
        flex-direction: column;
    }
    .categories_box {
        height: auto;
        width: 80vw;
    }
    .result_box {
        width: 80vw;
    }
    .result_tiles_container {
        width: 80vw;
    }
    .result_tile {
        width: 80vw;
    }

    nav {
        display: block;
        height: 15vh;
    }

    .result_item_name {
        font-size: 14px;
    }
    .category_name {
        font-size: 14px;
    }

    .Options {
        width: auto;
    }

    .textHome, .textAccount, .textCreate {
        font-size: 15px;
    }

    .categories_box {
        order: -1;
    }

}