
.content {
    display: flex;
    flex: 1;
    width: 100vw;
}


nav {
    display: flex;
    align-items: center;
    justify-content: initial;
    width: 100vw;
    height: 10vw;
    padding: 20px;


}

.logo {
    margin: 20px;
    border-radius: 30px;
    background: url(../assets/logo.png) lightgray 50% / cover no-repeat;
}

.textLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.log_in_button {
    margin: 20px;
    align-items: center;
    justify-content: center;



    /* Ustawienia dla przycisku */
  display: inline-block;
  padding: 0; 
  border: none;
  background: url('../../public/assets/sign_up.svg') no-repeat center center;
  background-size: cover;
  width: 200px; 
  height: 60px;
  cursor: pointer;

  /* Styl tekstu na przycisku */
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; 
  text-align: center;
}




.form_login {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    width: 40vw;
    
    

}

.text1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30;
}

.text2 {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 30px;
}

.field_name {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
}

.input_field input {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #3E3E55;
    border-radius: 12px;
    background-size: cover;
    padding-left: 5%;
    max-width: 95%; 
    overflow: hidden; 
    white-space: nowrap;
    box-sizing: border-box;
    color: #FFF; /* Kolor tekstu */
  }



@media only screen and (max-width: 500px) {
    
   
    .form_login {
        width: 80vw;
       
    }
    .picture_box {
        display: none;
    }
    nav {
        display: flex;
        height: auto;
        justify-content: initial;
    }

}